/* чотири головних псевдокласів які допомагають працювати з посиланнями
1. a:link - цей псевдоклас визначає посилання по якому користувач ще не клікав / відображуються по замовчуванню
2. a:visited - позначає що посилання вже переглянуте (в браузері переглянуті посилання змінюють колір)
3. a:hover - відповідає за момент наведення мишки на посилання
4. a:active - спрацьовує в момент нажання на посилання
*/


a:hover {               /* стиль при наведенні мишкою на посилання */
    color: red;
}
a:active {              /* стиль при кліці мишкою на посилання */
    font-size: 20px;
}
a:link    {         /* стиль для всіх посиланнь на які ще ніхто не клікав*/
   color: green;
}
a:visited {               /* стиль для всіх посиланнь які вже відкривали*/
    color: grey;
}


/* форматування елементів абзацу / псевдоелементи
first-letter - дає змозу задати стиль лише для першої літери абзацу
first-line - дає змогу задати стиль першій стрічці
*/

p:first-letter {          /* цей псевдо елемент дає можливість задавати стиль першій литері всіх параграфів р*/
     font-size: 30px;
     color: red;
}
p:first-line {          /* цей псевдо елемент дає можливість задавати стиль першій стрічці для всіх параграфів р*/
font-weight: bold;
}

                                                      /*псевдоелемент focus*/
 input:focus {                                   /* задає стиль елементу поки на ньофу є фокус . */
     background: hotpink;
     border-color: red;
 }                                                    
                                                       /*псевдоелемент before*/
.test:before{                                    /* дає змогу добавити коментар перед вказаним елементом . цей коментар буде недоступним для виділення користувачем */          
     content: "yes";
}                                                       
                                                      /*псевдоелемент after*/
.test:after{                                    /* дає змогу добавити коментар після вказаного елементу . цей коментар буде недоступним для виділення користувачем */          
    content: "NO!!!";
}      

                                                      /*псевдоелемент selection*/
p::selection{                                    /* відповідає за роботу елементів які виділяє користувач / працює лише з подвійним вставленням "::" */          
    color: #fff;
    background: #000000;
}   

