/* всі елементи на сторінці поділяються на блочні або стрічкові, в середину блочного елементу можна помістити інший блок або стрічковий елемент , але в стрічковий елемент
 не можна помістити блочний.   блочні елементи:h1...h6, p                стрічкові елементи: a,strong
 також ,не залежно від вмісту блочного елементу , навіть якщо це одне слово ,він займає всю ширину вікна браузера . також блочні елементи зразу містять
  в собі відступи від інших елементів 
 а межі строчного елементу не розтягуються на ширину екрану . а занінчуються прямо на останньому символі . якщо \прописати багато стрічкових елементів підряд то вони 
 будуть йти один за одним без відступів . щоб перенести стрічковий елемент потрібно прописати <br> / також неможливо прописати для стрічкового елементу відступи
 зверху і знизу , можна задати відступи лише зправа і зліва. можна схитрувати і прописати     display: inline-block;   (як у приклад 3) тоді відстані зверху і знизу 
 додадуться але на всю ширину екрану , а не лише на стрічковий елемент 
 */

/*конфлікти полів.  якщо є вда елементи до яких задаються стилі і знизу першого елемента задати зовнішній відступ відступ і зверху другого елемента зробити зовнішній 
відступ то ці відступи не будуть сумуватися , а вибереться більший відступ серед них двох як показано на приклад 1 і приклад 2*/


 p.test{
     padding: 10px;
     border: 1px solid #f55732;
     margin-bottom: 20px;                          /* приклад 1*/
 }
 p.test2{
     border:1px solid #006644;
     padding:10px 15px 25px 2px;
     margin-top: 30px;                                /*приклад 2*/
 }

 p.t1{
    padding: 10px;
    border: 1px solid #f55732;
                      
}
p.t2{
    border:1px solid #006644;
    padding:10px 15px 25px 2px;
    margin-top: -17px;                         /* зменшуємо зовнішню відстань між блоками t1 i t2 . практично щоб вони доторкалися один до одного */                           
}


                                                                       /* приклад блочних і стрічкових елементів*/


p.p1{
    border: 1px solid #f55732;                     
}
p.p2{
    border:1px solid #006644;                         
}


p.test strong{

    border: 2px solid #371dc7;
    margin: 20px;
    display: inline-block;                              /*приклад 3*/
}



                                /* приклад як елементи в списку можна заставити йти одне за одним , а не один під одним. наприклад як для меню*/
 li{
     display: inline;
 }                               


                                                   /*види ліній для бордера
                                                   solid - сплошна лінія
                                                   dashed - пунктирна лінія
                                                   dotted - дрібна пунктирна лінія
                                                   double - подвійна лінія
                                                   */
h2.solid{
    border: 3px solid  #006644;
    text-align: center;
}
h2.dashed{
    border: 3px dashed  #006644;
    text-align: center;
}
h2.dotted{
    border: 3px dotted  #006644;
    text-align: center;
}
h2.double{
    border: 3px double  #006644;
    text-align: center;
}

