
/* якщо для якогось елемента застосувується атрибут float  - то він повинен застосовуватися до всіх елементів на сторінці . */

body{
    padding: 20px;
}
p{
    width: 50%;
    border: 1px solid #ff5577;
    padding: 5px 10px;
    float: left; /* атрибут який вказує що відбуватиметься обтікання злівого боку . значення - reigt - зробить обтікання зправого боку */
    box-sizing: border-box; /*обовязковий атрибут щоб створити правильне обтікання . цей атрибут вказує що всі додаткові відступи з бордеру та паддінгу вже враховані у width*/
}
img{
    float: right;
    margin: 30px;
}
div{
    width: 40%;
    border: 1px solid #007754;
    min-height: 200px;
    background: #ff7643;
    float: left;
}
p.test{
    clear: left;   /*сlear - позначає що для цього параграфу потрібно відмінити обтікання зліва. сlear має ще два значення right- відміна обтікання зправа ш both- відміна обтікання з обох боків*/
}