img[title]{              /* цей запис означає що стиль застосувався лише до картинок в яких є атрибут "title"*/
    width: 100px;
}

img[title="картинка"] {              /* цей запис означає що стиль застосувався лише до картинки в якої є атрибут title="картинка"    */
    width: 200px;
}

a[href="htpps://yandex.us"] {
    color: red;
}
a[href="htpps://nnm.com"] {
    color: seagreen;
}