
/* заднім фоном можна вставити картинку    background-image: url()    якщо картинка менша розширення екрану то вона буде дублюватися поки не заповнить весь екран 
щоб уникнути дублювання використовуємо    background-repeat: no-repeat;     тоді картинка буде заднім фоном в своїй заданій величині по замовчуванню . ще background-repeat  
має два значення repeat-x - дублювання картинки лише по вісі x /   repeat-y - дублювання картинки по вісі y   /     repeat- стоїть по замовчуванню картинка дублюється на все розширення екрану*/

                
/*body{
 
    background-image: url(images/fon.jpg); браузер піддтримує такі формати фону : GIF- анімована картинка, JPG , PNG - додатково можна налаштувати розмитість, SVG- НЕ ВТРАЧАЮТЬ ЯКІСТЬ ПРИ ЗБІЛЬШЕННЯ НА СТОРІНЦІ*/
 /*   background-repeat: no-repeat; (при скролі донизу фон  поповзе вверх , як і решта контенту . щоб це виправити потрібно написати додатковий атрибут    background-attachment: fixed;  )*/
    /*background-position: 30% 40%; якщо фон не дублюється (  background-repeat: no-repeat;)то можна фибрати його позицію : center, top,bottom, right, left / також можна поєднати кілька позицій 
    ,наприклад  center top /  ще можна задавати значення в пікселях . перше значення відстань зліва до початку картинки (x) друге значення відстань зверху до початку
     картинки(y) / так само можна задавати ці значення в % ш em*/  
     /* background-attachment: fixed;   заставляє фон залишатися на заданому місці при скролі*/
     /*   використовується дуже рідко   background-origin: border-box;  вказує браузеру звідки починатиметься фон . border-box- зображення розміщується у верхньому лівому куті області межі того блоку 
     якому задається фон.  padding-box - поміщає зображення в верхній лівий кут зони відступу*/
     /*background-size: contain; зображення змінює свій розмір по замовчуванню на вказаний нами (x y). також одну з сторін можна вказати як auto , 
     тоді зміниться лише інша сторона  .  також можна використовувати %  i em.     значення contain - робить так щоб зображення розмістилося по всьому блоку , але не розтягуючись
    }*/
     

    /* це був довгий запис стилю . нижче наведений приклад скороченого запису*/

body{
    padding: 20px;
    background: url(images/fon.jpg) center center / 40% no-repeat fixed rgba(146, 146, 238, 0.4);/*спершу вказуємо яке зображення буде фоном . потім вказуємо
    розміщення на сторінці . потім відсоткове значення яке вказує скільки місця сторінки буде займати зображення . потім вказуємо повторність фону . дальше фіксуємо 
    його незалежно від скролу сторінки . і останнє вказуємо колір фону вього блоку до якого завтосовуємо стилі*/
}

/*body{
    padding: 20px;
    background-repeat: no-repeat;
    background-image: url(images/fon.jpg), можна одночасно вставляти кілька зображеня у фон . але вони накладатимуться один на інший
                url(images/1\ \(1\).png);
}*/
