body {
    background: rgba(50, 172,160,0.9);  /*rgb - це скорочена абривіатува трьох кольорів  red green blue / відбувається змішування кольорів у вказаній нами пропорції. поріг від 0 до 255*/
    padding: 0 20px 20px 20px;   /*відспупи всередині елемента . значення чергуються за годинниковою стрілкою . перше значення відспут зверху , друге-зправа,третє-знизу,четверте-зліва* . якщо в padding записати лише два значення то перше значення відповідатиме за відступ зверху і знизу , а друге значення за відступ зправа і зліва*/
    margin: 0 ; /* зовнішній відступ до вказаного елементу . значення можна задавати так само як і padding*/
}


article{
    max-width: 760px; /* максимальна ширина елемента незалежно від розмірів екрану*/
    margin: 0 auto;    /*перше значення - 0 - вказує що зовнішні відступи зверху і знизу = 0 ,  auto - вказує що відступ зправа і зліва буде визначатися автоматично */
}



/* є декілька способів запису кольору
1. #fff
2. red, blue
3. rgb - приклад вище
4. rgba - де останніє значення відповідає за прозорість фону . значення від 0 до 1
*/

p {
    color: rgb(255, 255, 255);   /*колір тексту*/
    font-size: 16px;       /* розмір тексту        розмір можна задавати в em , px i %   /  1em=16px*    /    1em - це розмір шрифту за замовчуванням в параграфах/
    font-family: "Kuralt", Arial, Helvetica, sans-serif;    /* задає сімейство шрифтів "Kuralt" але якщо цього сімейства немає на компютері користувача то  наступним ми візьмемо шрифт Arial - це стандартний шрифт який є на всіх компютерах , якщо раптом і його немає на компютері користувача то використовуємо шрифт  Helvetica і навіть якщо його немає то буремо шрифт з сімейства  sans-serif /    в даному випадку ми вказуємо що хочемо використати */
}

/*                                                    групування селекторів                                           */
h1, h2, h3{
color: rgb(255, 255, 255) ;
font-family: Arial,"Palatino Linotype" , serif;
border-bottom: 2px solid gray; /* border-bottom - це підкреслення на всю ширину сторінка під вказаним елементом  . вказана ширина підкреслення 2px solid -тип лінії, означає що лінія буду прямою і не розривною   , ще є border-top - лінія зверху ,  border-left - лінія зліва , border-right - лінія зправа */
border: 1px solid red;  /* робить рамку навколо заданого елементу */
padding-top: 12px; /* робить внутрішній відштуп зверху елемента , відповідно бордер який ми прописали вище зміститься на 15px вверх . також можна окремо прописати відступи зліва , зправа і знизу*/
padding-bottom: 4px;
}

h1{
    font-size: 2em; /* 2em = 32px*/
}

#logo {
    font-family: Baskerville , Palatino , sans-serif;
    font-size: 2.1em;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;                   /* italic- курсивний текст*/
    text-align:center ;                         /*  вирівнювання тексту*/
    margin-bottom: 36px;
    background: rgb(190, 180, 110);
    border-radius: 0 0 10px 10px;          /*  заокруглення кутів . перше значення це верхній лівий кут , потім верхній правий , нижній правий , нижній лівий*/
    padding: 12px;
}


.note{
    color: #000000;
    border: 2px solid #fff;
    background: rgb(220, 19, 182);
    margin-top: 22px;
    margin-bottom: 30px;
    padding: 18px;

}