#logo{
    color: rgba(220, 12, 11, 0.8);
    background: rgba(4, 220, 12, 0.4);
    border-radius: 0 0 16px 16px;
    padding: 14px;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    font-family: Tangerine , Arial, Helvetica, sans-serif , ;
    font-style: italic;
}
body{
    background: rgba(100, 200, 150, 0.7);   
    padding: 0 20px 20px 20px;
    margin: 0;
}
article {
    max-width: 1100px;
    margin: 0 auto;    
}
h1, h2, h3{
    border-bottom: 2px solid rgba(220, 40, 40, 0.5);
    font-style: italic;
}
.note{
border: 3px solid rgba(190, 110, 140, 0.9);
background: rgba(190, 110, 140, 0.4);;
border-radius: 20px;
padding: 10px;
font-family: Baskerville , Palatino , sans-serif;
font-style: italic;
}