p.t1{
    background-image: url(images/download.jpg);
}
p.t2{
    background-image: url(images/images.jpg);
}
p.t3{
    background-image: url(images/images\ \(1\).jpg);
}
p.t4{
    background-image: url(images/images\ \(2\).jpg);
}
