/* тінь для елементів сторінки*/

h1{
    text-shadow: -5px 15px 2px #999; /*  задаються почергово такі параметри    горизонтальне зміщення , вертикальне зміщення(наскільки тінь має бути вище чи нище від тексту) , ступінь розмитості тіні, колір*/
    text-align: center;
    font-size: 2em;
}
p{
    line-height: 150%; /* відстань між стрічками*/
    text-align: justify;  /*text-align - вирівнювання тексту . по замовчуванню текст вирівнюється по лівому краю Б а з права він обривається . justify -  вирівнює текст зліва і зправа одночасно */
    text-indent: 20px;   /* відступ першої стрічки параграфу*/
    border: 1px solid red;    /*рамки навколо кожного параграфу*/
    margin-top: 20px; /*збільшуємо зовнішній відстум зверху кожного параграфу*/
    padding-bottom: 30px; /*збільшуємо внутрішній відстум знизу кожного параграфу*/
}

h2::first-letter{
font-size: 40px;
font-weight: bold;
background: #000;
color: #fff;
padding: 4px;
}

p.box{
    border: none;
    box-shadow:4px 4px 11px rgba(0, 0, 0, 0.9);/*можна добавити першим значенням - inset - цей паметр вказує що тінь буде йти в середину блоку, перша цифра це
     горизонтальне зміщення (позитивне значення означає що тінь буде йти вправо , відємне-вліво) друге значення- вертикальне (верх - позитивне значення , низ - відємне)
     останнє значення - розмитість*/
}